body {
  padding-top: 45px;
}

.fa.fa-nav {
  padding: 0px;
  font-size: 18px;
}

.navbar-nav.navbar-right > li {
  float: right;
}

.navbar-subnav {
  padding-top:3px;
  background-color: #CEE3F8;
  min-height: 50px;
}

.subreddit-title {
  padding-left: 20px;
  padding-right: 20px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

$navbar-default-color:                     #000;
$navbar-default-link-color:                #000;
$navbar-default-link-hover-color:          #4183c4;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
$navbar-height:                            45px;

.vote.up.enabled {
  color: green;
}

.vote.down.enabled {
  color: orange;
}

@import "bootstrap";
@import "font-awesome";
