$footer-height: 100px;

html, body {
  height:100%;
  padding: 0;
  margin: 0;
}

#full-wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

#content-wrapper {
  overflow: hidden;
  background-color: #EEEEEE;
}

.bodypanel {
  min-height: 100% !important;
  margin-bottom: $footer-height;
  background-color: #FFFFFF;
}

#footer-wrapper {
  overflow: hidden;
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: -100;
  left: 0;
  padding-top: 15px;
}

.label-as-badge {
    border-radius: 1em;
}

.fa.fa-nav {
  padding: 0px;
  font-size: 18px;
}

.open > ul > li.hz {
  display: inline-flex !important;
}

.open > ul > li.hz a {
  padding: 0 5px;
  color: #0000EE;
}

.navbar-nav.navbar-right > li {
  float: right;
}

ul.navbar-user {
  margin-top: 13px;
  margin-bottom: -6px;
}

.navbar-subnav {
  background-color: #CEE3F8;
  min-height: 50px;
  border-bottom:1px solid #0068B0;
  position: relative;
}

.left-nav {
  position: relative;
  height: 50px;
}

.community-title {
  padding-left: 20px;
  padding-right: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.navbar-communities {
  border-bottom:1px solid black;
  min-height:22px;
  padding-top: 1px;
  background-color: #F0F0F0;
  color: rgb(129, 129, 129);
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-communities > ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  margin-bottom:0;
}

.navbar-communities > ul li a {
  color: #595959;
}

// Subnav nav tabs
.navbar-subnav {
  padding: 0 15px;
}

.navbar-subnav .navbar-link span {
  font-size: 24px;
  color: #426D97;
  font-family: verdana, arial, helvetica, sans-serif;
}

.navbar-subnav .navbar-text {
  margin-top: 16px;
  margin-bottom:0;
}

.navbar-subnav .nav.nav-tabs {
  position: relative;
  top: 20px;
  left: 10px;
  border-bottom: 0;
  width: 225px;
}

.navbar-subnav .nav.nav-tabs li {
  margin-left: 4px;
}

.navbar-subnav .nav.nav-tabs > li a {
  background-color: #EFF7FF;
  padding: 4px 10px
}

.navbar-subnav .nav.nav-tabs > li.active {
  top: 3px;
}

.navbar-subnav .nav.nav-tabs > li.active a,
.navbar-subnav .nav.nav-tabs > li.active a:hover,
.navbar-subnav .nav.nav-tabs > li.active a:focus {
  background-color: fff;
  border-bottom: 0;
  border-color: #0068B0;
}

// Comment nav tabs
.comment-navtabs .navbar-text {
  margin-top:26px;
  margin-bottom:0;
}

.comment-navtabs .nav.nav-tabs {
  position: relative;
  border-bottom: 0;
}

.comment-navtabs .nav.nav-tabs li {
  margin-left: 4px;
}

.comment-navtabs .nav.nav-tabs li:first-child {
  margin-left: 0px;
}

.comment-navtabs .nav.nav-tabs > li a {
  background-color: #EFF7FF;
  padding: 4px 10px
}

.comment-navtabs .nav.nav-tabs > li.active {
  top: 2px;
}

.comment-navtabs .nav.nav-tabs > li.active a,
.comment-navtabs .nav.nav-tabs > li.active a:hover,
.comment-navtabs .nav.nav-tabs > li.active a:focus {
  background-color: fff;
  border-bottom: 0;
  border-color: #EEE;
}

.sidebar {
  //border-left: 1px solid #999;
  //border-bottom: 1px solid #999;
  background-color: #EEE;
  padding: 20px 0;
  height: 100%;
}

.body-wrapper {
  padding: 10px;
}

.post-text {
  padding: 10px;
}

.post-text > p {
  margin: 0;
}

h4.media-heading {
  font-size: 15px;
}

.score {
  font-size: 13px;
}

$navbar-default-color:                     #000;
$navbar-default-link-color:                #000;
$navbar-default-link-hover-color:          #4183c4;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
$navbar-height:                            45px;
$navbar-default-border:                    #FFF;

.vote.up.enabled {
  color: green;
}

.vote.down.enabled {
  color: orange;
}

.media-body > .well.well-sm {
  margin-bottom: 3px;
}

.action-nav {
  font-size: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.media {
  margin-bottom: 7px;
}

.well.well-sm.comment {
  margin-bottom: 0px;
  margin-left: 6px;
  padding-bottom: 3px;
}

.well.well-sm.comment-top {
  margin-left: 0;
}

.well.well-sm.comment-odd {
background-color: #f3f3f3;
}

.well.well-sm.comment-even {
  background-color: #fff;

}

// Form Styles

.comment-reply textarea {
  max-width: 600px;
  min-height: 100px;
}

@import "bootstrap";
@import "font-awesome";
