$footer-height: 100px;

html, body {
  height:100%;
  padding: 0;
  margin: 0;
}

#full-wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

#navbar-wrapper {
  overflow: hidden;
}

#content-wrapper {
  overflow: hidden;
  background-color: #EEEEEE;
}

.bodypanel {
  min-height: 100% !important;
  margin-bottom: $footer-height;
  background-color: #FFFFFF;
}

#footer-wrapper {
  overflow: hidden;
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: -100;
  left: 0;
}

.fa.fa-nav {
  padding: 0px;
  font-size: 18px;
}

.navbar-nav.navbar-right > li {
  float: right;
}

ul.navbar-user {
  margin-top: 13px;
  margin-bottom: -6px;
}

.navbar-subnav {
  background-color: #CEE3F8;
  min-height: 50px;
  border-bottom:1px solid #0068B0;
  position: relative;
}

.left-nav {
  position: relative;
  height: 50px;
}

.subreddit-title {
  padding-left: 20px;
  padding-right: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.navbar-subreddits {
  border-bottom:1px solid black;
  min-height:22px;
  padding-top: 1px;
  background-color: #F0F0F0;
  color: rgb(129, 129, 129);
}

.navbar-subreddits > ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  margin-bottom:0;
}

.navbar-subreddits > ul li a {
  color: #595959;
}

.navbar-subnav .navbar-text {
  margin-top:26px;
  margin-bottom:0;
}

.nav.nav-tabs {
  position: relative;
  top: 20px;
  left: 10px;
  border-bottom: 0;
}

.nav.nav-tabs li {
  margin-left: 4px;
}

.nav.nav-tabs > li a {
  background-color: #EFF7FF;
  padding: 4px 10px
}

.nav.nav-tabs > li.active {
  top: 2px;
}

.nav.nav-tabs > li.active a, .nav.nav-tabs > li.active a:hover, .nav.nav-tabs > li.active a:focus {
  background-color: fff;
  border-bottom: 0;
  border-color: #0068B0;
}

.sidebar {
  //border-left: 1px solid #999;
  //border-bottom: 1px solid #999;
  background-color: #EEE;
  padding: 20px 0;
  height: 100%;
}

.body-wrapper {
  padding: 10px;
}

.post-text {
  padding: 10px;
}

$navbar-default-color:                     #000;
$navbar-default-link-color:                #000;
$navbar-default-link-hover-color:          #4183c4;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color;
$navbar-height:                            45px;
$navbar-default-border:                    #FFF;

.vote.up.enabled {
  color: green;
}

.vote.down.enabled {
  color: orange;
}

.media-body > .well.well-sm {
  margin-bottom: 3px;
}

.well.well-sm.comment {
  margin-bottom: 0px;
}

.well.well-sm.comment-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.well.well-sm.comment-odd {
  background-color: #fff;
}

.well.well-sm.comment-even {
  background-color: #f3f3f3;
}

@import "bootstrap";
@import "font-awesome";
