{% extends "base.html" %}
{% from "_macros.html" import make_arrows, make_post %}
{% set active_page = "community" %}
{% if community %}
  {% set page_title = community.name %}
  {% set posts_sortable = true %}
{% endif %}
{% block body_w_flash %}
{% if community %}
  {% if posts %}
    {% for post in posts %}
      {{ make_post(post, current_user, false, true) }}
    {% endfor %}
  {% else %}
    <b>Sorry, nothing to see here!</b>
  {% endif %}
{% else %}
  <div class="text-center">No community found!</div>
{% endif %}

{% include "_pagination_buttons.html" %}
<script src="/static/js/vote_script.js"></script>
{% endblock %}

{% block sidebar_content %}
<p class="text-center">
  <a class="btn btn-primary form-control" href="/submit/{{ community.name }}/text">Submit a new post</a>
</p>
<p class="text-center">
  <a class="btn btn-primary form-control" href="/submit/{{ community.name }}/link">Submit a link</a>
</p>
{% set subscribed = community in current_user.subscriptions %}
{% if current_user.is_authenticated() %}
  <form method="post">
    <input type="submit" class="btn subscribe-link form-control
           {% if subscribed %}btn-danger{% else %}btn-success{% endif %}"
           data-community="{{ community.id }}" name="toggle"
           value="{% if subscribed %}Unsubscribe{% else %}Subscribe{% endif %}">
  </form>
{% endif %}
{% endblock %}
