{% extends "base.html" %}
{% from "_macros.html" import make_arrows %}
{% set active_page = "home" %}
{% set page_title = "Home" %}
{% set posts_sortable = true %}
{% block body_w_flash %}
{% if posts %}
  {% for post in posts %}
    <div class="media" style="margin-top: 8px;">
      <div class="media-left media-middle text-center" style="padding-right: 10px;">
        {{ make_arrows(post, current_user) }}
      </div>
      <div class="media-left media-top">
        <a href="#">
          <img class="media-object" src="holder.js/75x75"
                alt="placeholder">
        </a>
      </div>
      <div class="media-body well well-sm">
        <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>

        <small class="muted">Submitted {{ post.created_at | human_date_utc }} by <a href="/u/{{ post.user.username }}">{{ post.user.username }}</a> to <a href="/c/{{ post.community_name }}">{{ post.community_name }}</a></small>
        <div><a href="{{ post.comments_url }}">{{ post.comment_count }} comments</a></div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <b>Sorry, nothing to see here!</b>
{% endif %}
<script src="/static/js/vote_script.js"></script>
{% endblock %}

{% block sidebar_content %}
<p class="text-center">
  <a class="btn btn-primary form-control" href="/create_community">Create a new community</a>
</p>
{#<p class="text-center">#}
{#  <a class="btn btn-primary form-control" href="/browse_communities">Browse all communities</a>#}
{#</p>#}
{% endblock %}
