{% extends "base.html" %}
{% from "_macros.html" import make_arrows, make_post %}
{% set active_page = "home" %}
{% set page_title = "Home" %}
{% set posts_sortable = true %}
{% block body_w_flash %}
{% if posts %}
  {% for post in posts %}
    {{ make_post(post, current_user) }}
  {% endfor %}
{% else %}
  <b>Sorry, nothing to see here!</b>
{% endif %}
{% include "_pagination_buttons.html" %}
<script src="/static/js/vote_script.js"></script>
{% endblock %}

{% block sidebar_content %}
<p class="text-center">
  <a class="btn btn-primary form-control" href="/create_community">Create a new community</a>
</p>
{#<p class="text-center">#}
{#  <a class="btn btn-primary form-control" href="/browse_communities">Browse all communities</a>#}
{#</p>#}
{% endblock %}
