{% extends "base.html" %}
{% from "_macros.html" import render_form %}
{% set active_page = "login" %}
{% set page_title = "Login" %}
{% block body_w_flash %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Login</h1>
      {{ login_user_form.hidden_tag() }}
      {{ render_form(login_user_form, action_url=url_for_security('login')) }}
      <a href="/reset">Forgot my password</a> - <a href="/confirm">Resend confirmation</a>
    </div>
  </div>
</div>
{% endblock %}
