{% extends "base.html" %}
{% set active_page = "post" %}
{% set page_title = post.title %}
{% block body_w_flash %}
<div class="col-md-8">
  <div class="clearfix">
    <h2>
      <div class="pull-left" style="padding-right: 10px;">
        {% include "_vote_arrows.html" %}
      </div>
      {% if post.url %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </h2>
    {% if post.contents %}
      <div class="well">
        {{ post.contents }}
      </div>
    {% endif %}
  </div>

  {% for comment in post.comments %}
  <div class="well well-sm">
    <div><a href="/u/{{ comment.user.username }}">{{ comment.user.username }}</a></div>
    {{ comment.text }}
    <div><a class="reply-link" data-parent="{{ comment.id }}">Reply</a></div>
  </div>
  {% endfor %}
</div>
<div class="col-md-6">
  <form method="POST" id="comment-form" action="" role="form" class="" _lpchecked="1" data-parent="">
    <div class="form-group">
      <textarea class="form-control" id="contents" name="contents"></textarea>
    </div>
    <div class="form-group ">
      <button class="btn btn-primary" name="submit" type="button">Post</button>
    </div>
  </form>
</div>
<script>var post_id = {{ post.id }};</script>
<script src="/static/js/vote_script.js"></script>
<script src="/static/js/comment.js"></script>
{% endblock %}
