{% extends "base.html" %}
{% from "_macros.html" import make_arrows, make_post, make_comment %}
{% set active_page = "post" %}
{% set page_title = post.title %}
{% block body_w_flash %}

<div class="row">
  <div class="col-lg-12">
    <!-- Top level post -->
    {{ make_post(post, current_user) }}
  </div>
</div>
<!-- Make top level comment -->
<div class="row">
  <div class="col-md-6">
    Commenting as: {{ current_user.username }}
    <form method="POST" id="comment-form" action="" role="form" class=""
          _lpchecked="1" data-parent="">
      <div class="form-group">
        <textarea class="form-control" id="contents" name="contents"></textarea>
      </div>
      <div class="form-group ">
        <button class="btn btn-primary" name="submit" type="button">
          Post
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row comment-navtabs">
  <div class="col-lg-12">
      {% set sort = request.args.get('sort') %}
      <ul class="nav nav-tabs hidden-xs col-xs-5 float-left" role="tablist">
        <li role="presentation"
            {% if sort == 'hot' or not sort %}class="active"{% endif %}>
          <a href="http://{{ request.host + request.path }}?sort=hot"
             aria-controls="sort_hot" role="tab">Hot</a>
        </li>
        <li role="presentation"
            {% if sort == 'top' %}class="active"{% endif %}>
          <a href="http://{{ request.host + request.path }}?sort=top"
             aria-controls="sort_top" role="tab">Top</a>
        </li>
      </ul>
  </div>
</div>
<!-- Comments -->
{% for comment in comments recursive %}
  <div class="comment {% if comment.depth == 0 %}comment-top {% endif %}
       {% if comment.depth is odd %}comment-odd{% else %}comment-even{% endif %}
       well well-sm">
    {{ make_comment(comment, current_user) }}
    {% if comment.children %}
    {% set _ = comment.children.sort(key=sort_comments, reverse=True) %}
    {{ loop(comment.children) }}
    {% endif %}
  </div>
{% endfor %}
<script>var post_id = {{ post.id }};</script>
<script src="/static/js/vote_script.js"></script>
<script src="/static/js/comment.js"></script>
{% endblock %}

{% block sidebar_content %}
<div class="panel panel-default">
{#  <div class="panel-heading">Post details</div>#}
  <div class="panel-body">
    <small class="muted">
      Submitted {{ post.created_at | human_date_utc }} by
      <a href="/u/{{ post.username }}">{{ post.username }}</a>
    </small>
    <br>
    <b>{{ post.score }}</b> point(s)
  </div>
</div>
{% endblock %}
