{% extends "base.html" %}
{% from "_macros.html" import render_form %}
{% set active_page = "subreddit" %}
{% set page_title = subreddit.name %}
{% block body_w_flash %}
<div class="col-md-8">
  {% if subreddit.posts %}
    {% for post in subreddit.posts %}
    <div class="well well-sm">
      <div class="pull-left" style="padding-right: 10px;">
        {% include "_vote_arrows.html" %}
      </div>
      <div><a href="{{ post.url }}">{{ post.title }}</a></div>
      <div><a href="{{ post.comments_url }}">12 comments</a> - share - report</div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <b>No one has posted anything yet!</b>
  {% endif %}
</div>
<div class="col-md-4" style="border-left: 1px solid #999;">
  <br />
  <a href="/submit/{{ subreddit.name }}">Submit a new post</a>
</div>
<script src="/static/js/vote_script.js"></script>
{% endblock %}
