<br>
<div class="panel panel-default">
  <div class="panel-heading">Public Alpha</div>
  <div class="panel-body">
    <p>
      Please feel free to make a post and introduce yourself and play around
      with things!
    </p>
    <p>
      Although we're still heavily in development we wanted to give you a
      roadmap of where we're going and what we're doing different from that
      <em>other</em> site. Most of these features are still in development.
    </p>
    <ul>
      <li>Tip content you like</li>
      <li>Built-in RES features</li>
      <li>Better content ranking algo</li>
      <li>Modern UI</li>
    </ul>
    <p>
      <small>P.S. If you are so inclined you can follow the dev work being done
        on <a href="https://github.com/icook/bluelinks">Github</a>, or make
        contributions yourself</small>
    </p>
  </div>
</div>
