<div class="panel panel-default">
  <div class="panel-heading">News</div>
  <div class="panel-body">
    <p><b>09/07/2015</b>: Site launched. Some important features may still be
    missing/incomplete - please bear with us while we get things up to snuff.
    </p>
  </div>
</div>

{% if community %}
{% set subscribed = community in current_user.subscriptions %}
<form method="post">
  <input type="submit" class="btn subscribe-link {% if subscribed %}btn-danger{% else %}btn-success{% endif %}" data-community="{{ community.id }}" value="{% if subscribed %}unsubscribe{% else %}subscribe{% endif %}">
</form>

<br>
<br>

<p class="text-center">
  <a class="btn btn-primary form-control" href="/submit/{{ community.name }}/text">Submit a new post</a>
</p>
<p class="text-center">
  <a class="btn btn-primary form-control" href="/submit/{{ community.name }}/link">Submit a link</a>
</p>
{% endif %}

<p class="text-center">
  <a class="btn btn-primary form-control" href="/create_community">Create a new community</a>
</p>
<p class="text-center">
  <a class="btn btn-primary form-control" href="/browse_communities">Browse all communities</a>
</p>
