<div class="panel panel-default">
  <div class="panel-heading">Welcome to the beta!</div>
  <div class="panel-body">
    Its really new!
  </div>
</div>

{% if community %}
<p class="text-center">
  <a type="button" class="btn btn-primary form-control" href="/submit/{{ community.name }}/text">Submit a new post</a>
</p>
<p class="text-center">
  <a type="button" class="btn btn-primary form-control" href="/submit/{{ community.name }}/link">Submit a link</a>
</p>
{% endif %}

<p class="text-center">
  <a type="button" class="btn btn-primary form-control" href="/create_sub">Create a new community</a>
</p>
<p class="text-center">
  <a type="button" class="btn btn-primary form-control" href="/browse_communities">Browse all communities</a>
</p>
