<div class="navbar-subnav">
  <div class="left-nav col-xs-8">
    <div class="row">
      <div class="navbar-text float-left" style="width: 205px;">
        <a href="/" class="navbar-link">
          <img src="/static/img/logo.png" border="0">
          <span>
            BlueLinks
          </span>
        </a>
      {% if sub %}
        <a class="navbar-link community-title" href="/c/{{ sub }}"> /c/{{ sub }}</a>
      {% endif %}
      </div>
      <!-- Sort tabs -->
      {% if posts_sortable %}
      <ul class="nav nav-tabs hidden-xs col-xs-5 float-left" style="width: 225px;" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Best</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Top</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Trending</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
  <ul class="nav navbar-nav navbar-user navbar-right col-xs-4 pull-right">
    {% if current_user.is_authenticated() %}
      <li data-toggle="tooltip" data-placement="bottom" title="Sign Out">
        <a href="/logout"><i class="fa-nav fa fa-sign-out"></i></a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Account">
        <a href="/account"><i class="fa-nav fa fa-gear fa-2"></i></a>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" title="Profile">
        <a href="/u/{{ current_user.username }}">
          <i class="fa-nav fa fa-user fa-2"></i>
        </a>
      </li>
    {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    {% endif %}
  </ul>
</div>
